@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "OpenSans", Arial, sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.4;
  box-sizing: border-box;
}
.select { 
  -webkit-appearance: none;
  -moz-appearance: none;
}
body {
  /* max-width: 360px;  */
  /* max-width: 768px; */
  /* max-width: 1200px; */
}
/*---------------------------------------------------*/
.html {
  font-size: 87.5%;
}

.popup {
  width: 100%;
  height: 100vh;
  
  background-color: rgba(0, 0, 0, 0.75);
  overflow-y: auto;
  
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  z-index: 2;
}

.popup-container {
  width: 68%;
  max-width: 390px;
  margin: auto;
  padding: 1.5rem 1.5rem;

  background-color: #ffffff;
  z-index: 3;
  position: relative;
}
.popup-close {
  position: absolute;
  right: 0;
  top: -30px;
  width: 25px;
  height: 25px;
  border: none;

  background-image: url("../svg/form-x.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
 }
.popup-form {
  font-size: 13px;
}
.popup-title {
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 1.5rem auto;
  font-size: 16px;
}
.select { 
  width: 100%;
  min-height: 50px;

  border: none;
  text-align: left;
  background-color: #f4f7f6;
  font-family: inherit;
  padding: 1rem 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;

  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: right 12px center;
}
.popup-subs {
  margin-bottom: 1.5rem;
}
.radio-group-text:not(:last-child) {
  margin-right: 2rem;
}
.radio-group-text::before { 
  content: "";
  display: inline-block;

  width: 25px;
  height: 25px;

  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: bottom;
  background-size: 25px;
  margin: 0.5rem 0.5rem 0 0;
}
.radio:checked ~ .radio-group-text::before {
  background-image: url(../svg/form-circle.svg)
}
.popup_recommend {
  margin-bottom: 2rem;
}
.field {
  width: 100%;
  min-height: 120px;
  border: none;
  text-align: left;
  resize: none;
  background-color: #f4f7f6;
  font-family: inherit;
  border: none;

  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
 }
 
 /*--------------------------------------------------*/
.popup {
  display: none;
}
.container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 

  position: relative;

  background-image: url(../images/banner-mobile.jpg);
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: cover;
  z-index: 0;
}
.container::after {
  content: "";
  background-color: #000000;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: -1;
  opacity: 0.5;
}

.container-button {
  position: absolute;
  top:0.5rem;
  right: 1rem;
}
.menu-button {
  width: 25px;
  height: 20px;  
  border: none;
  padding: 0;

  background-color: transparent;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
}
.menu-button:before, .menu-button:after {
  content:"";
  width: 100%;
  height: 15%;

  border-radius: 5px;
  background-color: #ffffff;  

  position: absolute;
}
.menu-button:before {
  left: 0;
  top: 0;
}

.menu-button:after {
  left: 0;
  bottom: 0;
}
.menu-button-label {
  width: 100%;
  height: 15%;
  margin-top: -0.1em;  

  border-radius: 5px;
  background-color: #ffffff;  

  position: absolute;
  left: 0;
  top: 50%;
}
.menu-list {
  display: none;
}
.header-logo {
  width: 270px;
}

.title-header {
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 280px;
  margin-top: 1.5rem;
}
/*--------------------------------------------------*/
.title-trend {
  color: black;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 2.5rem auto 1rem auto;
}


.title-sidebar::after, .popup-title:after, .title-trend::after {
  content: "";
  display: block;
  margin: 8px auto 0 auto;
  width: 67px;
  height: 3px;
  background-color: #b59f5b;
}
.section-second-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
} 
.post-trend {
  flex: 1 1 100%;
  min-height: 230px;
 
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  position: relative;
  z-index: 0;

  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000000;
  background-size: cover;
 
  padding: 1rem;
  margin: 0 0 3px 0;
}
.post-trend::after {
  content: "";
  position: absolute;
  background-color: #000000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5;
}
.post-trend:last-child {
  margin-bottom: 0;
}
.post1-trend {
  background-image: url("../images/trend1.jpg");
}
.post2-trend {
  background-image: url("../images/trend2.jpg");
}
.post3-trend {
  background-image: url("../images/trend3.jpg");
}
.post4-trend {
  background-image: url("../images/trend4.jpg");
}
.title-post-trend  {
  font-size: 16px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
}
.title-post-trend  > .post-link {
  color: #ffffff;
}
.post-trend-info {
  padding: 1.7rem 1.5rem; 
  border: 2px solid #b59f5b;
}

.post-link {
  font-size: 16px;
  text-decoration: none;
  color: #000000;
}
.post-link:hover {
  color: #b59f5b;
}
.tags-list-item {
  display: inline-block;
  text-align: left;
  margin-right: 17px;
}
.tags-list-item:last-child {
  margin-right: 0;
}
.tags-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #b59f5b;
}


.page {
  width: 100%;
  padding: 0 1rem;
  margin: auto;

  display: flex;
  flex-direction: column;
}

.post {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.post-img {
  width: 100%;
  background-color: #000000;
}
.post-name {
  color: black;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin: 5px 0 12px 0px;
}
.post-content {
  font-size: 14px;
  text-align:start;
  padding: 10px 0 18px 0;
  border-bottom: 3px solid #888888;
}
.date, .autor {
  font-size: 12px;
  text-align: left;
  display: inline-block;
}
.date {
  color: #888888;
}
.autor {
  font-weight: 700;
  margin-left: 10px;
}

.title-sidebar {
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  margin-top: 2rem; 
  margin-bottom: 1rem;
}
.first-title-sidebar {
  margin-bottom: 1rem;
}
.new-posts {
  display: flex;
  justify-content:left;
  margin-bottom: 1rem;
}
.new-posts:nth-child(6) {
  margin-bottom: 65px;
}
.new-post-preview {
  margin-right: 21px;
}
.new-post-img {
  width: 70px;
  background-color: #000000;
  background-size: cover;
}
.new-post-name {
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
}
.new-post-name > .post-link {
  font-size: 14px;
}
.search-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.input {
  background-color: #f4f7f6;
  font-family: inherit;
  border: none;
  padding: 1rem 1.5rem;
  height: 50px;
}
.label-search-bar, .search-input, .subscription-button {
 width: 100%;
}
.button {
  height: 50px;
  width: 100%;
  background-color: #b59f5b;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
}
.button-search {
  flex: none;
  width: 50px;
  font-size: 0;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center center;
}
.subscription-input {
  width: 100%;
  margin-bottom: 1rem;
}

.input:focus, .button:hover,  .select:focus, .field:focus, .sidebar-tag-item:hover {
  outline: 1px solid #b59f5b;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
.sidebar-tag-item {
  display: inline-block;
  border: 2px solid #ededed;
  text-align: left;
  margin: 0 5px 6px 0;
  padding: 3px 9px 3px 9px;
}
.sidebar-tag-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
}
 
.sidebar-theme-item {
  display: block;
  height: 44px;
  border-bottom: 1px solid #ededed;
  text-align: left;
  padding-top: 13px;
}

.sidebar-theme-link {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  margin-right: 3px;
  vertical-align: middle;
}

.note {
  font-size: 12px;
  color: #b59f5b;
  vertical-align: top;
}


.products {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}
.product {
  flex: 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}
 .product-img {
  background-color: #000000;
}
 .product-border {
  max-width: 325px;
  outline: 2px solid #b59f5b;
  outline-offset: 1rem;
  margin-bottom: 43px;
  height: 100%;
}   

.product-name {
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  font-size: 17px;
  margin-top: 1.5rem;
}
.product-content {
  font-size: 15px;
}
.link-product {
  color: #b59f5b;
  text-decoration: none;
}
.product-footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.product-price {
  font-size: 20px;
  font-weight: bold;
}
.product-price_old {
  text-decoration: line-through;
  font-size: 14px;
}
.one-price {
  align-self:flex-end;
}
.button-product {
  flex: 0 0 140px;
}

.footer {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}
.footer-icons {
  width: calc(100% - 30px);
  margin: 0 auto 3rem auto;
  background-color: #f4f7f6;
  text-align: center;
  padding: 30px 15px 30px 15px;
}
.socials-item {
  display: inline-block;
  margin-right: 28px;
}
.socials-item:last-child {
  margin-right: 0;
}
.social-link {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-color: #f4f7f6;
  background-position: center;
}
.social-icon-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}
.social-icon-facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}
.social-icon-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}
.social-icon-twitter {
  background-image: url("../svg/004-twitter.svg");
}
.social-icon-instagram {
  background-image: url("../svg/005-instagram.svg");
}
.copy-link {
  color: #888888;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}

.copyrigth {
  text-align: center;
}


@media (min-width: 641px) and (max-width: 1200px) {
  .html {
    font-size: 93.75%;
  }
  .popup-title {
    font-size: 18px;
  }
  .popup-container {
    padding: 3rem 2rem;
  }
  .container {
    min-height: 385px;
    align-items: flex-start;
    background-image: url(../images/banner-bg-tablet.jpg);
    display: block;
    padding: 2rem 2rem 0 2rem;
  }
  .container-top-panel {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .container-button {
    position: initial;
  }
  .title-header {
    font-size: 40px;
    margin: 83px auto 0 auto;
    width: 590px;
  }
  .header-logo {
    width: 160px;
  }
  .post-trend {
    flex: 1 1 48%;
    height: 250px;
  }
  .post-trend:nth-child(odd) {
    margin-right: 0.5%;
  }
  .title-trend {
    font-size: 18px;
  }
  
  .page {
    flex-direction: row;
    padding: 0 1.5rem;
  }
  .sidebar {
    flex: 0 0 275px;
  }
  .posts {
    flex: 1 1 70%;
    margin-right: 30px;
  }
  
  .post-img {
    max-width: 450px; 
  }
  .new-post-name > .post-link {
    font-size: 14px;
    font-weight: 700;
  }
  .post-name {
    margin: 5px 0 1.5rem 0px;
  }
  .post-name> .post-link {
    font-size: 17px;
  }
  
  .post-content {
    padding: 0;
    border-bottom: none;
    margin-top: 28px;
    font-size: 15px;
  }
  .title-sidebar {
    text-align: center;
    font-size: 14px;
  }
  
  
  
  .products {
    flex-direction: row;
    justify-content:left;
    align-items: stretch;
    
    flex-wrap: wrap;
  }
  .product {
    flex: 0 0 290px;
  }
  .product-img {
    width: 290px;
    min-height: 226px;
  }
  .product-name > .post-link {
    font-size: 17px;
  }
  .footer-icons {
    width: 100%;
  }
  
}


@media (min-width: 1200px) {
  .html {
    font-size: 100%;
  }
  .popup-title {
    font-size: 20px;
  }
  .popup-container {
    padding: 3rem 2rem;
  }
  .popup-close {
    width: 18px;
    height: 18px;
 }
  .radio-group-text:not(:last-child) {
    margin-right: 1rem;
  }
  .radio-group-text::before { 
    width: 18px;
    height: 18px;
    background-size: 18px;
  
}
  .container{
    display: block;
    padding: 28px 0 132px 0;
    min-height: 450px;
    background-image: url(../images/banner-bg.jpg);
  }
  .title-header {
    font-size: 45px;
    line-height: 1.6;
    margin: auto;
    width: 700px;
    margin: 100px auto 0 auto;
  }
  .container-top-panel {
    width: 80%;
    max-width: 1170px;
    display:flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    margin: auto;
    align-items: center;
  }
  .title-trend {
    font-size: 20px;
    /* margin-top: 3.5rem; */
  }
  .container-button {
    display: none;
  }
  
  .header-logo {
    width: 180px;
  }
  .menu {
    display:initial;
  }
  .menu-list {
    display: flex;
    justify-content: space-between;
  }
  .menu-list-item {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    list-style-type: none;
  }
  .menu-list-item:nth-child(n + 2) {
    margin-left: 35px;
  }
  .menu-link {
    color: #ffffff;
    text-decoration: none;
  }
  .menu-link:hover {
    text-decoration: underline;
  }
  
  .post-trend {
    flex: 1 1 23%;
    min-height: 320px;
    margin: 0 3px 3px 0;
  }
  .title-post-trend > .post-link {
    font-size: 20px;
  }
  .page {
    max-width: 1200px;
    flex-direction: row;
  }
  .sidebar {
    width: 270px;
  }
  .posts {
    flex: 1 1 70%;
    margin-right: 30px;
  }
  .post {
    flex-direction: row;
    margin-bottom: 58px;
  }
  .post:last-child {
  margin-bottom: 0;
  }
  .post-name > .post-link {
    font-size: 20px;
  }
  .post-preview {
  margin-right: 30px;
  }
  .post-img {
    min-width: 380px;
  }
  
  .products {
    justify-content: space-between;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
  }
  .product {
    flex: 0 0 300px;
  }
  .product-img {
    width: 300px;
    min-height: 210px;
  }
  .product-name > .post-link {
    font-size: 20px;
  }
  .footer-icons {
    width: 100%;
    max-width: 1200px;
  }
}
@media (max-width: 640px) and (orientation: landscape) {
  
  .post-trend {
    flex: 1 1 48%;
    height: 250px;
  }
  .post-trend:nth-child(odd) {
    margin-right: 0.5%;
  }
}
@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
  
  .post-trend {
    flex: 1 1 24%;
    margin-right: 0.5%;
  }
  .post-trend:nth-last-child() {
    margin-right: 0;
  }
}
